* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Courier New', Courier, monospace;
}

.header, .footer {
  background-color: black;
  color:ghostwhite;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 100vw;
  height: 100vh;
  background-color: rgb(41, 53, 53);
  color:white;
  align-items: center;
  justify-content: center;
  position: sticky;
  top:0;
}

.card img {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-content {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}